.section-partners {
  padding-top: 94px;
  padding-bottom: 94px;

  .title {
    margin-top: 0;
    margin-bottom: 50px;
    color: $title-text-color;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

.section-partners-icon {
  display: flex;
  justify-content: center;
}

.section-partners-icon .icon {
}

.section-partners-icon .icon + .icon {
  margin-left: 30px;
}

.icon-logo {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  min-width: 170px;
  height: 90px;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    fill: $accent-color;
    border: 1px solid $accent-color;
  }
}
