.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;

  min-height: 581px;
  width: 528px;
  padding: 40px;

  background-color: #ffffff;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
}

.button-close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30%, -30%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: $button;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border: none;
}

.modale-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;

  margin-top: 0;
  margin-bottom: 30px;
}

.form-modal {
  display: block;
  position: relative;
}

.input-label {
  position: absolute;
  top: 12px;
  left: 42px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: #757575;

  /* transform: translateY(-50%); */
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .input-label,
.form-input:not(:placeholder-shown) + .input-label {
  color: $accent-color;
  transform: translateY(-30px) translateX(-26px);
}

.form-input:focus ~ .icon-modal,
.form-input:not(:placeholder-shown) ~ .icon-modal {
  fill: $accent-color;
}

.form-input:focus,
.form-input:not(:placeholder-shown) {
  border: 1px solid $accent-color;
  outline: none;
}

.form-input {
  display: block;
  width: 448px;
  height: 40px;
  min-height: 40px;
  margin-bottom: 28px;
  padding: 12px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-modal {
  position: absolute;
  top: 50%;
  left: 16px;
  width: 18px;
  height: 18px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea {
  position: relative;
  width: 100%;
  height: 120px;
  resize: none;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus,
.modal-textarea:not(:placeholder-shown) {
  border: 1px solid $accent-color;
  outline: none;
}

.textarea-coments {
  position: absolute;
  top: 12px;
  left: 16px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea:focus + .textarea-coments,
.modal-textarea:not(:placeholder-shown) + .textarea-coments {
  color: $accent-color;
  transform: translateY(-30px);
}

.checkbox-text {
  display: flex;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71%;

  letter-spacing: 0.03em;

  justify-content: center;
  align-items: center;
}

.checkbox-document {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71%;

  letter-spacing: 0.03em;
  text-decoration-line: underline;

  color: $accent-color;
}

.textarea-modal {
  position: relative;
  margin-bottom: 20px;
}

.checkbox-modal {
  margin-bottom: 30px;
}

.checkbox-icon {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.checkbox-icon:checked + .checkbox-text::before {
  background: url(../imeges/icon-check-focus.svg);
}

.checkbox-text::before {
  content: "";
  width: 15px;
  height: 15px;
  margin-right: 8px;
  background: url(../imeges/icon-chek.svg);
}

.button-form {
  display: block;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 0;
  padding: 10px 56px;
  margin-left: auto;
  margin-right: auto;

  background-color: $accent-color;
  color: $button;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
