.section-team.fone {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-team .title {
  margin-top: 0;
  margin-bottom: 50px;

  color: $title-text-color;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-team-card {
  display: flex;

  .card {
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 1px 3px rgba(0, 0, 0, 0.12);
  }
}

.section-team-card .card + .card {
  margin-left: 30px;
}

.team-color-card {
  background-color: $button;
  width: 270px;

  padding-top: 30px;
  padding-bottom: 24px;
}

.social-mardgen + .social-mardgen {
  margin-left: 10px;
}

.section-team .autor {
  margin-top: 0;
  margin-bottom: 10px;
  color: $title-text-color;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.section-team .social {
  display: flex;
  justify-content: center;
}

.icon-social-team {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    border-radius: 50%;
    background-color: $accent-color;
    fill: $button;
  }
}

.section-team .text {
  margin-top: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
