.section-features {
  padding-top: 94px;
  padding-bottom: 94px;

  .title {
    color: $title-text-color;
    margin: 0;
    text-align: center;
  }

  .subtitle {
    margin-top: 0px;
    margin-bottom: 10px;

    color: $title-text-color;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }

  .text {
    margin: 0;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.features-card {
  display: flex;
}

.icon-features {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-bottom: 30px;
}

.features-card .icon + .icon {
  margin-left: 30px;
}
