.logo-footer {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.footer-t {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 28px;
}

.footer-list {
  display: flex;
  flex-direction: column;
}

.footer {
  color: $button;
}

.adress {
  display: flex;
}

.icon-footer-social {
  display: flex;
}

.social-footer + .social-footer {
  margin-left: 10px;
}

.icon-footer {
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-footer:focus,
.icon-footer:hover {
  background-color: $accent-color;
}

.address .text {
  margin: 0px;
  padding-top: 10px;
  color: $button;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address .mail {
  padding-top: 9px;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-form {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  min-width: 358px;
  padding: 18px 12px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form:placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.form-buttom {
  display: flex;
}

.footer .button {
  display: flex;
  background-color: $accent-color;
  color: $button;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  margin-left: 12px;
}

.icon-footer-button {
  display: inline-block;
  margin-left: 10px;
}

.footer .title {
  color: $button;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.copiraite {
  padding-top: 18px;
  padding-bottom: 21px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.4);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
}

.bg {
  background-color: #2f303a;
}
